{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<style>
  .mani-controler{
    margin-top: -80px
  }

  .justify-content-center {
    justify-content: center !important;
    margin-top: -90px;
}

.add-crendnt, .singup, .signin-sty {
  color: #C80D0D;
}

.singinbtn{
  background-color: #C80D0D;
}

.alert-danger {
  color: #fff;
  border-color: #C80D0D;
  background-color: #C80D0D;
}
</style>

<div class="form-group">
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">
  {{message}}
  </div>
  {% endfor %}
  </div>

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
        
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="singup text-center mt-2 mb-4">
                
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center add-crendnt mb-4">

                {% if msg %}
                  <small>{{ msg | safe }}</small>
                {% else %}
                  Change Password
                {% endif %}  
              
              </div>

              {% if not success %}

              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning singinbtn">Change Password</button>
            </form>

              {% endif %}  

              <!-- Button trigger modal -->



  
            </div>
          </div>

        </div>
      </div>

      

    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}
